<h1>
  List of all movies
</h1>


<%# params become an array:  nested structures within param hash %>
<form>
  <label>Red</label>
  <input type="checkbox" name="zebra[]" value="red" >
  <label>Blue</label>
  <input type="checkbox" name="zebra[]" value="blue" >
  <button>Submit</button>
</form>

<form>
  <label>Red</label>
  <%# sub hash with red being first element in array %>
  <input name="zebra[red]" value="red" > 

  <label>Blue</label>
  <input name="zebra[blue]" value="blue" >
  <button>Submit</button>
</form>


<hr>

<div>
  <%# <a href="/movies/new">Add a new movie</a> %>
  <a href="<%= new_movie_path %>">Add a new movie</a>
  <%= link_to "Add a new movie", new_movie_path %>
</div>

<hr>

<table>
  <tr>
    <th>
      ID
    </th>

    <th>
      Title
    </th>

    <th>
      Description
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @movies.each do |movie| %>
  <tr>
    <td>
      <%= movie.id %>
    </td>

    <td>
      <%= movie.title %>
    </td>

    <td>
      <%= movie.description %>
    </td>

    <td>
      <%= time_ago_in_words(movie.created_at) %> ago
    </td>
    <td>
      <%= time_ago_in_words(movie.updated_at) %> ago
    </td>

    <td>
        <%= link_to "Show details", movie_path(movie) %>

        <%= link_to "Show details", movie %>

    </td>
  </tr>
  <% end %>
</table>
