<h1>New movie</h1>

<% @movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<%# NEW FORM HELPER %>
<%# auto gives us authenticity token for CORS %>
<%= form_with(url: movies_path) do %>
  <div>
    <%= label_tag :title, "Title" %>
    <%# first arg is the name, second is the value %>
    <%# <%= text_field_tag :title, @movie.title, { id: "title" } %>
    <%= text_field_tag "movie[title]", @movie.title %>
  </div>

  <div>
    <%= label_tag :description %>
    <%# <%= text_area_tag :description, @movie.description, id: "description", rows: 3 %>
    <%= text_field_tag "movie[description]", @movie.description %>
  </div>

  <%= button_tag "Create Movie" %>
<% end %>

<%# { :movie => { :title => "Some title", :description => "Yaddyya" } } %>
